{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $work_laptop := promptBoolOnce . "work_laptop" "Work laptop" -}}

[diff]
  command = "delta"
  pager = "delta"

[data]
    email = {{ $email | quote }}
    work_laptop = {{ $work_laptop }}
    avanteProvider = "claude"
