{{- if eq .chezmoi.hostname "RV42QFMFQ4" }}
{{- else }}
Host *
	IdentityAgent ~/.1password/agent.sock
{{- end }}
{{- if eq .chezmoi.hostname "RV42QFMFQ4" }}
Host github.com
  ControlMaster auto
  ControlPersist yes
  Hostname ssh.github.com
  Port 443
  ProxyCommand /usr/bin/env nc -X connect -x localhost:3128 %h %p
  User git
  {{- if eq .chezmoi.hostname "RV42QFMFQ4" }}
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519
  {{ end }}
{{ end }}
