{{- if eq .work_laptop true }}
{{- else }}
Host *
    
{{- if eq .chezmoi.os "darwin" }}
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
	IdentityAgent ~/.1password/agent.sock
{{- end }}
{{- end }}
{{- if eq .work_laptop true }}
Host github.com
  ControlMaster auto
  ControlPersist yes
  Hostname ssh.github.com
  Port 443
  ProxyCommand /usr/bin/env nc -X connect -x localhost:3128 %h %p
  User git
  {{- if eq .work_laptop true }}
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519
  {{ end }}
{{ end }}
