import = [
  "~/.config/alacritty/catppuccin-frappe.toml"
]

[env]
TERM = "xterm-256color"

[font]
size = 16

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.italic]
family = "JetBrainsMono Nerd Font"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[window]
{{- if eq .chezmoi.os "darwin" }}
decorations = "buttonless"
option_as_alt = "Both"
blur = true
{{- end }}
dynamic_padding = false
opacity = 0.8

[window.padding]
x = 25
y = 20

# Source https://github.com/alacritty/alacritty/issues/1919#issuecomment-1962389128
[keyboard]
bindings = [
  { key = "C", mods = "Control", chars = "\u0003"},
  { key = "Left",  mods = "Alt", chars = "\u001bB" },
  { key = "Right", mods = "Alt", chars = "\u001bF" },
  { key = "Return", mods = "Control|Shift", action = "SpawnNewInstance" },
]
